__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
.env
.env.local
.env.*.local
.git
.gitignore
.dockerignore
Dockerfile
.DS_Store
*.log
app.log
.pytest_cache/
.coverage
htmlcov/
.idea/
.vscode/
*.egg-info/
dist/
build/
.mypy_cache/
static/uploads/*
static/result/*
alembic.ini
.git/
.gitignore
README.md
api-specification.yaml
